/* Common definitions for game layouts. */

body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

#event-logo-container {
    position: absolute;
    z-index: 9999;
    text-align: center;
    letter-spacing: 15px;
    transform: rotate(-20deg);
    bottom: 0;
    right: 0;
    background: var(--logo-background);
    padding: 8px 20px 100px 230px;
    margin: 0 -50px -105px 0;
    outline: 20px solid rgba(255, 255, 255, 0.3);
}

#event-logo {
    display: none;
    height: 160px;
}

#event-logo-name {
    display: inline-block;
    font-size: 60px;
    color: var(--logo-color);
    text-shadow: 0 0 3px var(--logo-color), 0 0 3px var(--logo-color), 0 0 3px var(--logo-color), 0 0 3px var(--logo-color);
}

#event-logo-year {
    display: inline-block;
    font-size: 60px;
    color: var(--logo-year-color);
    text-shadow: 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color);
}

#donation-container {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--timer-background);
    color: var(--timer-color);
}

#timer {
    font-family: 'Calibri', monospace;
    font-weight: bold;
    position: absolute;
    color: var(--timer-color);
}

#timer.timer_stopped {
    color: var(--timer-stopped-color);
}

#timer.timer_running {
    color: var(--timer-running-color);
    animation-iteration-count: 3;
    animation-name: splash;
    animation-duration: 1s;
}

#timer.timer_paused {
    color: var(--timer-paused-color);
}

#timer.timer_finished {
    color: var(--timer-finished-color);
    background-size: 250% 250%;
    animation-iteration-count: 3;
    animation-name: finished;
    animation-duration: 2s;
}

#game-details {
    position: absolute;
    color: var(--game-details-color);
}

.game-detail-container {
    display: block;
    color: var(--timer-color);
}

.game-detail-label, .game-detail {
    display: inline;
    vertical-align: top;
}

.game-detail {
    color: var(--game-details-color);
}

.runner-details {
    position: absolute;
    /*Hide runner details by default, let individual layouts control which feeds are visible.*/
    display: none;
}

.runner-name {
    color: var(--text-color);
    background-color: var(--text-background);
}

.finish-time {
    position: absolute;
    text-align: center;
    background-color: var(--text-color);
    color: var(--text-background);
    margin: 0;
}

.game-feed {
    position: absolute;
    /*Hide all feeds by default, let individual layouts control which feeds are visible.*/
    display: none;
    /*Make sure feeds are on the bottom underneath the finish times.*/
    z-index: -1;
}

#custom {
    color: var(--custom-color);
    font-size: 28px;
    white-space: pre-wrap;
}

@keyframes splash {
    from {
        background-color: var(--timer-running-background);
    }
    50% {
        background-color: #aaff33;
    }
    to {
        background-color: var(--timer-running-background);
    }
}

@keyframes finished {
    from {
        color: var(--timer-finished-color);
        background-position: -100% 0;
    }
    10% {
        color: var(--timer-finished-color);
    }
    25% {
        color: rgb(240, 240, 240);
    }
    40% {
        color: var(--timer-finished-color);
    }
    to {
        background-position: 65% 0;
    }
}
